Package: squashbackup
Version: 1.1.2
Architecture: amd64
Maintainer: ax6 <aaaaaa123456789@acidch.at>
Description: Script that creates squashfs-based backups for block devices.
 squashbackup is a script that creates backups for block devices and stores
 them in a squashfs archive, containing a compressed image of the device's
 contents or its partitions, as well as some additional information to assist
 data recovery.
 It can be configured to copy a part of a block device, a partition table, or
 to even zero out the free space in the partition that is being copied.
Depends: zerofree, squashfs-tools, pv, coreutils, util-linux, bash, fdisk
